[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CoxPlus"]
	path = CoxPlus
	url = https://github.com/cran/CoxPlus
[submodule "PanelCount"]
	path = PanelCount
	url = https://github.com/cran/PanelCount
[submodule "endogeneity"]
	path = endogeneity
	url = https://github.com/cran/endogeneity
